<form>
  <mat-form-field style="width: 200px" *ngIf="this.pedido.id">
    <mat-label>Num. Pedido</mat-label>
    <input matInput disabled type="number" [(ngModel)]="this.pedido.id" />
  </mat-form-field>
  <p>
    <mat-form-field style="width: 200px">
      <mat-label>Nome</mat-label>
      <input matInput type="text" [(ngModel)]="this.pedido.nome" />
      <button
        *ngIf="this.pedido.nome"
        matSuffix
        mat-icon-button
        aria-label="Limpar"
        (click)="this.pedido.nome = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field style="width: 200px">
      <mat-label>Valor</mat-label>
      <input matInput type="number" [(ngModel)]="this.pedido.valor" />
      <button
        *ngIf="this.pedido.valor"
        matSuffix
        mat-icon-button
        aria-label="Limpar"
        (click)="this.pedido.valor = null"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </p>
</form>
